<ul>
    <li><a href="/">Pagina Inicial</a></li>
    <li><a href="/cardapio">Cardápio</a></li>
    <li style="float:right"><a href="/login">ENTRAR</a></li>
    <li style="float:right"><a href="/cadastro/usuario">CRIAR CONTA</a></li>
    <li style="float:right"><a href="/cadastro/restaurante">CADASTRAR RESTAURANTE</a></li>
</ul>