<ul>
    <li><a href="/">Pagina Inicial</a></li>
    <li><a href="/rest">Meu Restaurante</a></li>
    <li><a href="/cadastroMenu">Adicionar prato</a></li>
    <li><a href="/meuMenu">Meu menu</a></li>
    <li><a href="/cardapio">Cardápio</a></li>
    <li style="float:right"><form action="/logout" method="POST"><input id="btn-logout" type="submit" value="SAIR"></form></li>
</ul>