<ul>
    <li><a href="/">Pagina Inicial</a></li>
    <li><a href="/user">Meu Perfil</a></li>
    <li><a href="/cardapio">Cardápio</a></li>
    <li style="float:right"><form action="/logout" method="POST"><input id="btn-logout" type="submit" value="SAIR"></form></li>
</ul>